html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
	text-decoration: none;
	color:#000;
}

ol, ul {
	list-style: none;
}
img{
	border:0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix::before,.clearfix::after{
	content: '';
	display: table;
}
.clearfix::after{
	clear: both;
}
.clearfix{
	zoom:1;
}
.container{
	display: block;
	margin:0 auto;
	padding:0;
	width: 1170px;
}
body{
	font:12px/1.2 bold Microsoft Yahei sans-serif
	background:#efefef;
}
/* header部分 */
header{
	width: 100%;
	height: 74px;
	border-bottom:1px solid #efefef;
}
header>div{
	display: inline-block;
	vertical-align: top;
}
.headleft{
	background: #ac1e17;
	width: 100px;
	height: 100%;
}
header>.container{
	height: 74px;
}
.slogan{
	background: #ac1e17;
	width: 180px;
	height: 100%;
	padding:25px 10px 0 0;
	box-sizing:border-box;
}
.nav{
	width: 107px;
	height: 72px;
	border-right:1px solid #f5f5f5;
}
.nav>li{
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height:62px;
	text-align: center;
	border-top:10px solid  #ac1e17;

}
.login{
	height: 100%;
}
.login>span{
	display: inline-block;
	width: 60px;
	height: 100%;
	line-height:72px;
	font-size: 10px;
	text-align: right;
	cursor:pointer;
}
span.mobile-app{
	position: relative;
	background: url(../imgs/iphone.png) no-repeat -3px 25px;
	background-size: 25px 25px;
}
span.mobile-app>i{
	display: none;
	position: absolute;
	background: url("../imgs/haedcode.png") no-repeat 0 10px;
	width: 150px;
	height: 166px;
	left:-32px;
	top:40px;
	padding:10px 5px;
	z-index: 1112;
}
span.mobile-app>i>img{
	position: absolute;
	left:5px;
	top:32px;
}
span.mobile-app:hover>i{
	display: block;
}

/* footer部分 */
footer{
	width: 100%;
	padding-top:46px;
    height:280px;
    background-color:#333;
    color: #b7b7b7;
    text-align: center;
}
.ft-links{
	margin:0 auto;
}
.ft-links>li{
	display: inline-block;
	width: 150px;
	height: 20px;
	line-height: 20px;
}
.ft-links>li>a{
	color:#b7b7b7;
}
.ft-links >li+li{
	border-left:2px solid #b7b7b7;
}

.ft-text{
	font-size:12px;
	line-height: 20px;
	width: 480px;
	margin:30px auto;
	text-align: center;
	text-indent: 2em;
}
.ft-logos{
	margin:10px auto 30px;
}
.ft-logos>a{
	display: inline-block;
	width: 80px;
	position: relative;
}
.ft-logos>a>img{
	display: block;
	width: 20px;
	height:20px;
}
.ft-logos i.app-download{
	position: absolute;
	top: -90px;
    left: -30px;
	display:none;
	background: url("../imgs/footercode.png") no-repeat;
	background-size: cover;
	padding:4px 2px 1px;
	width: 75px;
	height: 83px;
}
.ft-logos>a:hover>i{
	display: block;
}

footer>h6{
	font-size: 10px;
}
#loginAll{
	display: none;
}
.mask{
	position:fixed;
	width: 100%;
	height: 100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color: #333;
	opacity: 0.8;
	z-index: 1115;
}

.loginCon{
	width: 570px;
    height: 392px;
    position: fixed;
    left: 43%;
    top: 140px;
    margin-left: -175px;
    z-index: 1116;
    box-shadow: rgb(56, 56, 56) 0px 0px 80px;
    font-family: 微软雅黑;
    background: rgb(255, 255, 255);
    /* border:1px solid #333; */
    border-radius: 10px;
}
.loginTop{
	width: 100%;
    height: 52px;
    background: #3D4356;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.loginTop>span{
	position: absolute;
	right:10px;
	top:10px;
	display:block;
	font-size: 24px;
	font-weight: bold;
	color:#fff;
	cursor: pointer;
}
.loginBody{
	/* text-align:center; */
	margin:0 auto;
}
.userID,.userPass{
	height: 46px;
    width: 340px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background: #fff;
    margin-left: 115px;
}
.userID{
	margin-top: 45px;
}
.userID img,.userPass img{
	margin-left: 12px;
    margin-right: 10px;
    vertical-align: middle;
}
.userID input,.userPass input{
	border: 0;
    height: 44px;
    width: 260px;
    line-height: 44px;
    outline: 0;
    font-size: 14px;
}
.userPass{
	margin-top: 20px
}
p.autoLogin{
	overflow: hidden;
    width: 340px;
    height: 22px;
    margin:23px 0 10px 121px;
     font-size: 14px;
}
p.autoLogin>input{
    color: #3D4356;
   
    float: left;
    line-height: 14px;
}
p.autoLogin>a{
	display: block;
    font-size: 14px;
    color: #0098FF;
    line-height: 16px;
}
p.loginSubmit{
	margin:0 auto;
	text-align: center;
}

p.loginSubmit>input{
	width: 340px;
    height: 46px;
    background: #3D4356;
    line-height: 46px;
    font-size: 16px;
    margin: 0 auto;
    border-radius: 10px;
    border:0;
    color:#fff;
    cursor: pointer;
}
p.goRigster{
	width: 340px;
    height: auto;
    margin-left: 111px;
    margin-top: 7px;
    font-size: 14px;
    text-align: center;
}

p.goRigster a{
	    color: #0098FF;
    text-decoration: none;
    font-size: 14px;
}