html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: Microsoft YaHei;
}

ol,
ul {
    list-style: none;
}
ul,li{
  margin:0;
  padding:0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    vertical-align: middle;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.container{
  width: 1200px;
  margin:0 auto;
  padding:0;
}
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    zoom: 1;
}


/* body */

body {
    font-size: 12px;
}

a {
    color: #666;
}


/* header-css */

header {}

.topbar {
    width: 100%;
    height: 25px;
    line-height: 25px;
    background: #f6f6f6;
    border-bottom: 1px solid #ececec;
}

.topbar ul li {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box;
}
.topbar ul li+li {
    /*border-left: 1px solid #ececec;*/
}
.topbar-right span.glyphicon{
  top:7px;
}
.topbar ul li.login a {
    color: #e40077;
}

.topbar ul li a:hover {
    color: #337ab7;
}

.topbar ul li.login:hover {
    background-color: #fff;
}

.topbar ul li.app-wx:hover {
    background-color: #fff;
}

.topbar ul li:hover> .dropdown-menu {
    display: block;
}

.topbar ul li .dropdown-menu {
    position: absolute;
    left: 0;
    top: 25px;
    border: 0;
    background: #fff;
    padding: 18px 0 12px 0;
    z-index: 1111;
    text-align: center;
}

.topbar .dropdown-menu .submenu {
    display: block;
    width: 140px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e4e4e4;
    margin: 5px 15px;
    color: #25b2fe;
    text-align: center;
    text-decoration: none;
}

.topbar .dropdown-menu .submenu:hover {
    color: #fff;
    background-color: #25b2fe;
    text-decoration: none;
}


/*顶部结束，logo区域开始*/

.headcon {
    padding: 15px 50px 15px 0;
}

#city {
    display: inline-block;
}

#city button {
    border: 0;
}

#city button:hover,
#city button:focus {
    background-color: #fff;
}

#select_city {
    padding: 10px;
    border: 0;
    width: 520px;
}

#select_city >li {
    display: block;
    border-left: 0;
}

.city_list dt,
dd {
    display: inline-block;
    margin: 8px;
}

.city_list dt {
    position: relative;
}

.stripe {
    position: absolute;
    left: -10px;
    top: 0;
    width: 3px;
    height: 16px;
    background-color: pink;
}

.search_ipt {
    border: 2px solid #ccc;
    border-radius: 0;
}

a.tag {
    display: inline-block;
    margin: 5px 10px;
    height: 20px;
    line-height: 20px;
}

a.hot_tag {
    color: #e40077;
}


/*页面底部*/

footer {
    text-align: center;
}

footer p {
    margin: 15px auto;
}

footer p a {
    box-sizing: border-box;
    color: #333;
    display: inline-block;
    padding: 0 10px;
}

p.footer-links a+a {
    border-left: 1px solid #333;
}

footer p>span {
    display: inline-block;
    padding: 5px;
}
.nav-menu{
  width: 100%;
  position: relative;
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-between;
}

.nav-menu >li {
  width: 260px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;
}
.nav-menu >li+li{
  border-left: 1px solid #fff;
}
.nav-menu > li:first-child {
   height: 38px;
   line-height: 38px;
    width: 160px;
}

.nav-menu > li > a {
  width: 100%;
    padding: 0;
    color: #666;
    font-size: 16px;
    background-color: #dcdcdc;
}

.nav-menu > li:hover>a{
    color: #0085d0;
    background-color: #f3f3f3;
}

.nav-menu>li.active {
    color: #0085d0;
    border-top: 2px solid #0085d0;
}

.nav-menu > li.active > a,
.nav-menu > li.active > a:hover,
.nav-menu> li.active > a:focus {
    color: #337ab7;
    font-weight: bold;
}

ins {
    display:none;
    left: 50%;
    bottom:0;
    margin-left: -7px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
}
/*.nav-menu > li:hover> ins{*/
  /*display: block;*/
/*}*/

.nav-submenu{
  width:1200px;
  display: none;
  flex-flow:row nowrap;
  justify-content: space-between;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 1px 1px #888;
  z-index: 1120;
}
.nav-submenu>li{
  width: 14%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}
.nav-submenu>li>a{
  text-decoration: none;
}
.nav-submenu>li>a:hover{
  color: #0085d0;
}

/*主体部分*/
main{
  position: relative;
}
/*主体区域1*/
.sec_01{
  display: inline-block;
  margin: 5px 10px 0 0;
}
.shoplist{
  width: 160px;
  border: 1px solid #b8d9e9;
  text-align:center;
}
.shoplist>p{
 line-height:1.8em;
  padding:4px 0;
}
.shoplist ul>li{
  height: 64px;
  line-height: 64px;
  font-size:18px;
  border-top: 1px solid #e9e9e9;
  text-align:center;
}
.shoplist li a:hover {
  color: #0085d0;
  text-decoration: none;
}
/*轮播图*/
.carousel-top{
  display: inline-block;
  position: relative;
}
.carousel-indicators li {
  font: 12px/14px Verdana,Arial;
  height: 15px;
  width: 15px;
  border: 0;
}
.carousel-indicators li.active{
  background-color:#E40077;
}
.blprev,.blnext{
  cursor:pointer;
  display: block;
  height: 70px;
  position: absolute;
  width: 30px;
  opacity:0.3;
  filter:alpha(opacity=30);
}
a.blprev{
  background:url('../img/lbnextpre.png') no-repeat;
  left:0;
  top: 140px;
 }
a.blnext{
  background:url('../img/lbnextpre.png') no-repeat right 0;
  right:0;
  top: 140px;
}

/*快速办理业务*/
.quickbtn{
  border:1px solid #dfdfdf;
  width: 270px;
  margin:5px 0 0;
  padding:10px;
  box-sizing:border-box;
}
.quickbtn-top{
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
}
.quickbtn-top>li{
  width: 80px;
  text-align:center;

}
.quickbtn-top>li>a{
  display: block;
  width: 40px;
  height: 40px;
  margin: 15px 0 8px 18px;
}
.quickbtn-top>li>a:hover{
  background-size:38px 38px;
}
.btn-item01{
  background: url(../img/quickbtn01.gif) no-repeat;
}
.btn-item02{
  background: url(../img/quickbtn02.gif) no-repeat;
}
.btn-item03{
  background: url(../img/quickbtn03.png) no-repeat;
}
.btn-item04{
  background: url(../img/quickbtn04.gif) no-repeat;
}
.btn-item05 {
  background: url(../img/quickbtn05.gif) no-repeat;
}
.btn-item06{
  background: url(../img/quickbtn06.gif) no-repeat;
  position: relative;
}
.xtip{
  position: absolute;
  right:0;
  top:-10px;
  width: 20px;
  height: 20px;
  border-radius:10px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background: #e40077;
}
.quickbtn-bottom{
  margin:20px 0 0;
  padding: 10px 10px 0;
}
.quickbtn-bottom a{
  display: inline-block;
  text-align: center;
}
.czjf-text>a{
  font-weight: bold;
  color:#000;
}
.czjf-text>span{
  font-weight: bold;
  color: #ff0000;
}
.czjf-input>input{
  display: block;
  width: 100%;
  margin:10px 0;
  border-radius:5px;
  height: 36px;
  line-height: 36px;
  color:#000;
  border: 1px solid #dfdfdf;
}
.czjf-list{
  margin:10px 0;
  display: flex;
  flex-flow:row nowrap;
  justify-content:space-between;
}
.czjf-list>a{
  width: 40px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #dfdfdf;
  text-decoration: none;
}
.czjf-list>a:hover{
  background:#e40077;
  border: 1px solid #e40077;
  color:#fff;
  text-decoration: none;
}
.czjf-active{
  background:#e40077;
  border: 1px solid #e40077;
  text-decoration: none;
  color:#fff;
}
.czjf-btn{
  text-align: center;
}
/* 自定义轮播图区域 */

  .yhcontainer{
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px 15px;
    height: 182px;
    background: #dfdfdf;
    position: relative;
    overflow: hidden;
  }
  #yhbox{
    height: 160px;
    position:absolute;
    overflow: hidden;
  }
  #yhbox > .imgbox{
    float: left;
    margin:0 15px 0 0;
    background: #fff;
    width: 280px;
    height: 162px;
  }
  .imgbox>a{
    display: block;
    position: relative;
    text-decoration: none;
  }
  .imgbox>a.imgbox-img{
    text-align: right;
  }
  .imgbox>a>h4{
    color: rgb(51, 51, 51);
    font: bold 18px/25px 微软雅黑;
    padding: 6px 0px 0px 20px;
    margin: 0px;
  }
  .imgbox>a>h5{
    color: rgb(102, 102, 102);
    font: 14px/20px 微软雅黑;
    padding: 0px 0px 0px 20px;
    margin: 0px
  }
  #lbprev{
    display: inline-block;
    position: absolute;
    width: 28px;
    height: 35px;
    left: 0;
    top: 70px;
    background: url(../img/lbnextpre.gif) no-repeat;
    opacity: 0.7;
  }
  #lbnext{
    display: inline-block;
    position: absolute;
    width: 28px;
    height: 35px;
    right: 0;
    top: 70px;
    background: url(../img/lbnextpre.gif) no-repeat right 0;
    opacity: 0.7;
  }
.panelsec{
  margin:10px 0 0;
}
.panel{
  margin:0;
}
.panel-default{
  border-radius: 0;
}
.panel-default>.panel-heading{
  height: 48px;
  line-height: 48px;
  padding: 0 25px;
  background-color: #fff;
}
.paneltitle{
    float: left;
    color: #0085d0;
    font-size: 15px;
    font-weight: bold;
}
.panel-body{
  margin:0;
  padding:0;
}
.panel-body>.col-lg-3{
  margin:0;
  padding:0;
  
}
.panel-body>.col-lg-3 + .col-lg-3{
  border-left:1px solid #dfdfdf;
}
.panel-link{
  float: right;
}
.panel-img-big{
  height: 100%;
  width: 25%
}
.panel-img-big>a{
  display: block;
}
.panel-sub{
  position: relative;
  height:188px;
}
.panel-sub + .panel-sub{
  border-top:1px solid #dfdfdf;
}
.panel-sub>h4{
    font: bold 18px/25px "微软雅黑";
    color: #333;
    padding: 6px 0 0 20px;
    margin: 0;
}
.panel-sub>h5{
    font: normal 14px/20px "微软雅黑";
    color: #666;
    padding: 0 0 0 20px;
    margin: 0
}
.panel-sub>a{
  position: absolute;
  right:0;
  bottom:0;
}
.panel-sub>a:hover{
  position: absolute;
  right:10px;
  bottom:0;
}
.color-ran{
  background: #efefef
}

.color-ran>h4{
   color: #E40077;
}
.panel-phone{
  position: relative;
}

.panel-phone>h6{
  color: rgb(102, 102, 102);
  font: 14px/20px 微软雅黑;
  padding: 10px 0px 0px 20px;
  margin:0;
}
.panel-phone>h6.tags{
  color: rgb(0, 133, 208);
  font: 12px/20px 微软雅黑;
}

.panel-phone>p{
    float: left;
    color: rgb(239, 51, 162);
    font: 20px/150% 微软雅黑;
    padding: 10px 0px 0px 20px;
}
.panel-phone>span.phonetips{
  color: #fff;
  display:inline-block;
  width: 44px;
  height: 44px;
  border-radius: 22px 22px 0 22px;
  background:pink;
  transform:rotate(50deg);
  margin:0 0 0 50px;
  position: absolute;
  right:22px;
  top:10px;
}
span.phonetips>i{
  display:inline-block;
  width: 100%;
  height: 100%;
  line-height:34px;
  font-weight: bold;
  text-indent: .8em;
  transform:rotate(-50deg);
}

.phone-img{
 margin:50px 0 0;
 position: relative;
 height: 265px;
}

.phone-img>a{
  display: block;
  position: absolute;
  right:0;
  bottom:0;
}
/* 网站公告部分 */
.notice{
  width: 100%;
  padding:0 20px;
  height:38px;
  overflow: hidden;
  margin:10px 0 0;
  font-size: 15px;
  height: 38px;
  line-height: 38px;
  position: relative;
}
.notice>span{
  z-index: 1120;
}
.notice-container{
  display: inline;
  overflow: hidden;
  position: absolute;
  height: 38px;
}
.notice-box{
  display: inline-block;
  width: 480px;
}
.notice-box>i{
color: #CCC;
    background: none;
    padding: 0 0 0 5px;
    width: 30%;
}



/* 友情链接部分 */
.help-links{
  margin:10px 0 0;
}
.helplink-box{
  display: inline-block;
  width: 235px;
  padding:20px 0;
  text-align: left;
  text-indent: 2em;
}

.helplink-box>h5{
  color: rgb(102, 102, 102);
    height: 27px;
    font: bold 15px/180% 微软雅黑;
    margin: 0px
}
a.helplist{
    display: block;
    font-size: 15px;
    line-height: 180%;
    color:#666;
}
a.helplist:hover{
  color: #007bc7;
}